<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its target audience is researchers who have little to no prior computational experience, 
  and its lessons are domain specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
  <br></br>
  This hands-on workshop will focus on managing and understanding spatial data formats, understanding coordinate reference systems, and working with raster and vector data in R for analysis and visualization. An introductory knowledge to R is helpful, but not required. Participants will be encouraged to help one another and to apply what they have learned to their own research problems, and will be aimed towards graduate students and other researchers.
Attendees must bring a laptop with a Mac, Linux, or Windows operating system (not a tablet, Chromebook, etc.) that they have administrative privileges on. More details can be found at https://erichseamon.github.io/2020-03-26-uidaho-geospatial 

</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
